rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isLoggedIn() { return request.auth != null; }
    function isSuperAdmin() { return isLoggedIn() && request.auth.token.super_admin == true; }

    match /{document=**} {
      allow read, write: if isSuperAdmin();
    }
  }
}